name: Borrow License from Software KMUTNB

on:
  schedule:
    - cron: "0 22 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create .env file
        run: |
          echo "KMUTNB_USERNAME=${{ secrets.KMUTNB_USERNAME }}" >> .env
          echo "KMUTNB_PASSWORD=${{ secrets.KMUTNB_PASSWORD }}" >> .env

      - name: Start Payload
        run: python src/payload.py
